body {
  padding-top: 30px;
  padding-bottom: 30px;
}
#gallery {
  display: flex;
  list-style: none;
}

#gallery li {
  width: calc((100% - 30px * 2) / 4);
  margin-right: 30px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
